# System & IDE
.DS_Store
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
venv/
env/

# ProjectSpark Data & Artifacts
# Allow data folder structure but ignore content
spark/ProjectSpark/data/raw/*
!spark/ProjectSpark/data/raw/.gitkeep
spark/ProjectSpark/data/processed/*
!spark/ProjectSpark/data/processed/.gitkeep

# Ignore entire folders
spark/ProjectSpark/Present/
spark/ProjectSpark/AI_help/
